<template>
   <canvas id="myChart" width="400" height="400"></canvas>
</template>

<script>
    export default {
        props: ['auth_user'],
        data: function () {
            return {
                myChart: {}
            };
        }, 
        methods: {
            updateGraph: function (data) {
                this.myChart.data.datasets[0].data = data;
                this.myChart.update();                
            }
        },       
        mounted() {

            // Enable pusher logging - don't include this in production
            Pusher.logToConsole = true;

            var pusher = new Pusher('2afd5144b75b33526bfa', {
              cluster: 'ap2',
              encrypted: true
            });

            var channel = pusher.subscribe('my-channel');
            channel.bind('newScore', function(data) {
              this.updateGraph(data.scores);
            }.bind(this));


            let ctx = document.getElementById("myChart").getContext('2d');

            this.myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: [this.auth_user.name, "Opponent"],
                    datasets: [{
                        label: 'Scores',
                        data: [this.auth_user.scores, 10],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                    }
                }
            });

        }
    }
</script>
