<template>
    <div class="question">
        <h3 v-html="question.question"></h3>
        <div class="list-group">
            <a class="list-group-item choice" @click="markQuestion(choice)" v-for="choice in question.incorrect_answers" v-html="choice"></a>
        </div>
    </div>
</template>

<script>
    export default {
        props: [],
        data: function () {
            return {
                question: {
                    question: '',
                    correct_answer: '',
                    incorrect_answers: []
                }
            };
        },
        methods: {
            getQuestion: function () {
                axios.get('https://opentdb.com/api.php?amount=1&type=multiple')
                    .then(function(response) {
                        this.question.question = response.data.results[0].question;
                        
                        let options = [];
                        options = response.data.results[0].incorrect_answers;
                        options.push(response.data.results[0].correct_answer);

                        this.question.incorrect_answers = options;
                    }.bind(this))
                    .catch(function (error) {
                        console.log(error);
                    })
            },
            markQuestion: function (choice) {
                console.log(this.question);
            }
        },
        mounted() {
            this.getQuestion();
            
        }
    }
</script>

<style lang="scss">
    .choice {
        cursor: pointer;
    }
</style>
